{% extends 'cluster/blog.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block preloader %}{% endblock %}
{% block content %}
    {% block pageheader %}{{ block.super }}{% endblock %}

	<!-- BLOG -->
	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <div class="single-blog">
                        <article>
                            <h3 class="post-title"><a href="">{{ blog.title|escape }}</a></h3>
                            <div class="post-meta text-uppercase">
                                <span>작성일자 {{ blog.created_date }}</span>
                                <div class="fb-like" data-href="http://&#xc790;&#xb3d9;&#xcc28;&#xbcf5;&#xc6d0;.com{{ request.path }}" data-width="400" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                            <div class="post-article">
                                {% autoescape off %}
                                    {{ blog.detail|linebreaks|string_to_image:image_list }}
                                {% endautoescape %}
                            </div>
                        </article>
                    </div>
                {% block pagination %}{% endblock %}
				</div>
			</div>
		</div>
	</section>
	<!-- /BLOG -->
{% endblock %}